/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ubuntu&display=swap');





/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

body{
    background-color: rgb(180, 219, 217)
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1,h2, h3, p{
    color:rgb(6, 8, 11);
    font-family: 'Ubuntu', sans-serif;
    text-align: center

}



.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(231, 228, 237);

      
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(30, 32, 31);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width: 450px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(15, 14, 14);
    
}
#Chart4{
    border-color: lightcoral;
}

#Chart5{
    border-color: lightcoral;
}

#Chart6{
    border-color: lightgoldenrodyellow;
}   
