/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ubuntu&display=swap');





/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

body{
    background-color: rgb(11, 0, 72)
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1,h2, h3, p{
    color:rgb(238, 239, 241);
    font-family: 'Ubuntu', sans-serif;
    text-align: center

}
.acontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;;
    gap: 40px 40px;
    margin-top: 30px;
    border-style: dashed;
    border-color: white;
    padding: 30px;
    border-radius: 20px;
  }
 






/* Set the apperance of the class, chart */
.chart{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    background-color: white;
    width: 600px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(15, 14, 14);
   
}

.visual{
  margin-left: auto;
    margin-right: auto;
    width: 8em;
    background-color: white;
    width: 600px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(15, 14, 14);
}
.container {
    display: flex;
    flex-flow: wrap;
    column-gap: 20px;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-content: center;
  }

.grid-container{
 display: grid;
 grid-template-columns: auto auto auto;
}

.chart:hover {
    border-color: rgb(36, 2, 62);
    transform: scale(1.10, 1.10);
    transition: transform 1100ms;
  }

  #Chart3{
    width: 400px;
  }


  #Chart3{
    width: 350px;
  }

